@font-face {

  font-family: Mifuente;
  src: url(../Fonts/Righteous-Regular.ttf);


}


* {

  font-family: Mifuente;

}



video{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;

}



.titulo {

  background-color: rgba(180, 12, 158, 0.603);
  font-size: 24px;
  color: white;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  z-index: 2;

}



h1 {

  text-align: center;
  

}

.card {

  border-radius: 15px;
  color: white;
  background-color: rgba(184, 9, 155, 0.603);
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 42px;
  padding: 30px;
  padding-bottom: 35px;
  box-shadow: 0 0px 50px 0 rgba(180, 11, 166, 0.911);
  transition: 0.3s;
  text-align: center;
  margin-bottom: 10px;
  position:relative;
  z-index: 2;

}


.card:hover {
  box-shadow: 0 0px 40px 0 rgba(186, 62, 202, 0.774);
  transform: scale(1.03);
  cursor: pointer;
}

.info{
position: relative;
z-index: 2;


}

#cifrar {
  color: ghostwhite;
  background-color: rgba(209, 72, 191, 0.699);
  font-size: 20px;
  border-style: double;
  border-color: ghostwhite;
  border-radius: 9px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;

}

#cifrar:hover {

  background-color: rgb(196, 46, 176, 0.74);

}

#cifrar:active {

  background-color: rgb(137, 84, 187);

}

#descifrar {
  color: ghostwhite;
  background-color: rgba(209, 72, 191, 0.699);
  font-size: 20px;
  border-style: double;
  border-color: ghostwhite;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;

}

#descifrar:hover {

  background-color: rgb(196, 46, 176, 0.74);

}

#descifrar:active {

  background-color: rgb(137, 84, 187);

}

#mensaje {

  padding: 9px;
  text-align: center;
  margin: 10px;

}

#desplazamiento {

  padding: 9px;
  text-align: center;
}

#mensaje2 {

  padding: 9px;
  text-align: center;

}


#concepto {


  color: ghostwhite;
  background-color: rgba(196, 46, 176, 0.74);
  font-size: 17px;
  border-style: double;
  border-color: ghostwhite;
  border-radius: 14px;
  cursor: pointer;
  border: solid;
  text-decoration: none;
  padding: 9px;
  float: right;
  margin-top: 32.9%;
  margin-right: 16px;
  

  


}

#concepto:hover {

  background-color: rgb(188, 82, 230);

}

#concepto:active {

  background-color: rgba(137, 84, 187, 0.788);

}


#refrescar{

  color: ghostwhite;
  background-color: rgba(236, 92, 255, 0.699);
  font-size: 15px;
  border-style: double;
  border-color: ghostwhite;
  border-radius: 14px;
  cursor: pointer;
  margin: auto;
  border: solid;
  text-decoration: none;
  padding: 9px;


}

#refrescar:hover {

  background-color: rgb(188, 82, 230);

}

#refrescar:active {

  background-color: rgba(137, 84, 187, 0.788);

}


/* diseño de la página de información */



.titulo2 {

  background-color: rgba(161, 20, 138, 0.37);
  font-size: 24px;
  color: white;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  z-index: 2;


}


.contenedor {


  background-color: rgba(161, 20, 138, 0.37);
  border-radius: 10px;
  margin-top: 10px; 
  position: relative;
  z-index: 2;
 }

  

#texto{

  padding: 30px;
  padding-left: 25px;
  padding-right: 50%;
  text-align: justify;
  color: white;
  font-size: 18px;
  

}


#imagen {


  float: right;
  width: 600px;
  height: 340px;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 10px;
  

}

#return1{ 

  color: ghostwhite;
  background-color: rgba(179, 24, 153, 0.534);
  font-size: 17px;
  border-style: double;
  border-color: ghostwhite;
  border-radius: 14px;
  cursor: pointer;
  border: solid;
  text-decoration: none;
  padding: 9px;
  float: center;
  margin-bottom: 2px;
  

}


#return1:hover {
  

  background-color: rgba(188, 82, 230, 0.658);

}

#return1:active {

  background-color: rgba(137, 84, 187, 0.514);

}

.retroceso{

position: relative;
z-index: 2;

}